$dark: #313131;
$primary: #03808b;
$secondary: #f0a574;
$light: #cff7fa;
$wite: #faffff;

// background
.bgdark{
    background-color: $dark;
}
.bgmain{
    background-color: $primary;
}
.bgsecond{
    background-color: $secondary;
}
.bglight{
    background-color: $light;
}
.bgwite{
    background-color: $wite;
}

// foreground
.fgdark{
    color: $dark;
}
.fgmain{
    color: $primary;
}
.fgsecond{
    color: $secondary;
}
.fglight{
    color: $light;
}
.fgwite{
    color: $wite;
}

@font-face{
    font-family: ubuntu;
    src: url('./fonts/ubuntu/UbuntuCondensed.ttf');
}

.logofont{
    font-family: ubuntu;
    color: $light;
}
.navbar-brand span.fab{
    color: $light;
}
